/* Fondo principal (contenedor derecho) */

.sidebar {
    -fx-background-color: #121212;
    -fx-border-color: #333333;
    -fx-border-width: 0 2px 0 0;
}

#fondo {
    -fx-background-color: #121212;
}

/* Barra lateral (contenedor izquierdo) */
.vbox:first-child {
    -fx-background-color: #783980;
}

/*Donde ya estas*/
#selected {
    -fx-background-color: gray;
}

.grid-pane {
    -fx-background-color: lightgray;
}

}
/* Botones en la barra lateral   */
Button {
   -fx-cursor: hand;
   -fx-background-color: #333333;
   -fx-text-fill: white;
   -fx-font-size: 14px;
   -fx-padding: 5px;
   -fx-border-radius: 3px;
   -fx-transition: all 0.3s ease-in-out;
}

/*Botones de la API*/
#pikachuBoton {
    -fx-background-color: #f4d77c !important;
    -fx-text-fill: black !important;
}

#pikachuBoton:hover {
    -fx-background-color: #d1b869 !important;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#squirtleBoton {
    -fx-background-color: #83cee8 !important;
    -fx-text-fill: black !important;
}

#squirtleBoton:hover{
    -fx-background-color: #6db8d9 !important;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#bulbasaurBoton {
    -fx-background-color: #83cbb1 !important;
    -fx-text-fill: black !important;
}

#bulbasaurBoton:hover{
   -fx-background-color: #66a98b !important;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#mewtwoBoton {
    -fx-background-color: #af89af !important;
    -fx-text-fill: black !important;
}

#mewtwoBoton:hover {
   -fx-background-color: #9b6e9b !important;
   -fx-scale-x: 1.05;
   -fx-scale-y: 1.05;
}


/* Efecto Hover */
Button:hover {
  -fx-background-color: #444444;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
/* Texto principal */
.text {
    -fx-font-size: 14px;
}

/* Imagen en la barra lateral */
.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);
}

/* Tabla en DB view*/
.table-view .table-cell {
    -fx-background-color: black;
    -fx-text-fill: black;
}

/* Texto en el combobox de PopUp */
.combo-box .text {
    -fx-fill: white;
}

.combo-box .list-cell {
    -fx-text-fill: white;
}
/*Texto para el tableView */
.table-view .table-cell {
    -fx-text-fill: white;
}

