/* Fondo principal (contenedor derecho) */

.sidebar{
    -fx-background-color:  #121212;
    -fx-border-color:  #333333;
    -fx-border-width: 0 2px 0 0;
}

#fondo{
    -fx-background-color:  #121212;
}

/* Barra lateral (contenedor izquierdo) */
.vbox:first-child {
    -fx-background-color: #783980;
}

/*Donde ya estas*/
#selected {
    -fx-background-color: gray;
}
.grid-pane {
    -fx-background-color: lightgray;
}}
/* Botones en la barra lateral */
.button {
    -fx-background-color: #333333;
    -fx-font-size: 12px;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-text-fill: white; /* Texto en blanco por defecto */
}

/* Efecto hover en los botones */
.button:hover {
    -fx-background-color: #444444;
}

/* Texto principal */
.text {
    -fx-fill: white;
    -fx-font-size: 14px;
}

/* Imagen en la barra lateral */
.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);
}

.table-view .table-cell {
    -fx-background-color: black;
    -fx-text-fill: black;
}