.separator {
    -fx-border-color: null;
}

.button {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#selected {
    -fx-background-color: gray;
}

.grid-pane {
    -fx-background-color: lightgray;
}}

.hbox{
   -fx-background-color: gray;
}